<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982993054371-dtdd6rvg592mgg3vkipcidd9lokgobef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982993054371-dtdd6rvg592mgg3vkipcidd9lokgobef</string>
	<key>API_KEY</key>
	<string>AIzaSyB0CyYJW6iTXr03qOhrS1s8IyQJ18bC4IA</string>
	<key>GCM_SENDER_ID</key>
	<string>982993054371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sweetncolours</string>
	<key>PROJECT_ID</key>
	<string>sweetncolours-5cfc2</string>
	<key>STORAGE_BUCKET</key>
	<string>sweetncolours-5cfc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982993054371:ios:035b762b21caeb2fbaad16</string>
</dict>
</plist>